body{
    height: 100vh;
    margin: 0;
}

header{
    background-color: red;
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    grid-area: header;
    


}

.header_bild{
    background-image: url(../../psd/header.375x300.mobil.jpg);
    width: 100%;
    height: 300px;
    grid-area: header_bild;
}

.main{
    width: 80%;
    margin: auto;
}

.apple{
    background-color: red;
    width: 80%;
    height: 200px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    
}

.text{
    background-color: lightcoral;
    width: 90%;
    height: 250px;
    margin: auto;
    
}

.footer{
    width: 100%;
    height: 200px;
    background-color: green;
    margin-top: 50px;

}

i.material-icons{
    size: 50px;
    font-size: 50px;
   
}

p{
    margin: 20px;
    
}

.nav{
    width: 200px;
    height: 300px;
    background-color: lightblue;
    z-index: 10;
    top: 0;
    position: fixed;
    left: -100%;
    transition: left 0.7s;
    grid-area: nav;
}

.activate{
    left: 0;
}

.activate_vara{
    left: 0;
}

ul{
    margin: 15px;
    font-size: 27px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: white;
}

.vara{
    background-color: lightgreen;
    height: 30px;
    width: 180px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
   
}

.antal{
    background-color: green;
    height: 30px;
    width: 200px;
    margin: auto;
    margin-top: 10px;
    z-index: 1;
    left: -1000px;
    position: relative;
}

.varukorg{
    background-color: aquamarine;
    width: 300px;
    height: 500px;
}

.fakta{
    background-color: lightgray;
    width: 300px;
    height: 700px;
}

.kundvangn{
    position: absolute;
    right: 100px;
    
}

h4{
    text-align: center;
}

.logo{
    width: 380px;
    text-align: center;

}

.show{
    left: 0;
}

#apple1{
    background-image: url(../../psd/äpple1_240x200_mobil.jpg)
}

#apple2{
    background-image: url(../../psd/apple2_240x200_mobil.jpg)
}

#apple3{
    background-image: url(../../psd/apple3.2_240_200_mobil.jpg)
}

#apple4{
    background-image: url(../../psd/apple4_240x200_mobil.jpg)
}

#apple5{
    background-image: url(../../psd/apple5_240x200_mobil.jpg)
}

#apple6{
    background-image: url(../../psd/apple6_240x200_mobil.jpg)
}



@media only screen and (min-device-width: 1024px){

    .header_bild{
        background-image: none;
        background-image: url(../../psd/appleheader_1263x300_webb.jpg)
    }

    .kundvangn{
        right: 400px;
    }

    .main{
        grid-template-columns: 300px 500px auto;
        grid-template-rows: 100px 200px auto;
        grid-template-areas: 
        "header header header"
        "nav haeder_bild header_bild"
        "apple1 text1 text1"
    }

    .apple{
        width: 240px;
        /* margin-left: 500px; */
    }


    #apple1{
        grid-area: apple1;
    }

    .apple{
        background-repeat: repeat-y;
    }

    #text1{
        grid-area: text1;
    }

    .nav{
        left: 0;
        height: 530px;
        width: 270px;
        top: 100px;
        /* position: absolute; */
        /* top: 100px; */
        /* position: unset; */

    }
}