body{
    height: 100vh;
    margin: 0;
}

header{
    background-color: red;
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    grid-area: header;
    


}

.header_bild{
    background-image: url(../../psd/header.375x300.mobil.jpg);
    width: 100%;
    height: 300px;
    grid-area: header_bild;
}

.main{
    width: 80%;
    margin: auto;
}

.apple{
    background-color: red;
    width: 80%;
    height: 200px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    
}

.text{
    background-color: lightcoral;
    width: 90%;
    height: 250px;
    margin: auto;
    border-radius: 10px;
    
}

.footer{
    width: 100%;
    height: 200px;
    background-color: green;
    margin-top: 50px;

}

i.material-icons{
    size: 50px;
    font-size: 50px;
   
}

p{
    margin: 20px;
    
}

.nav{
    width: 200px;
    height: 300px;
    background-color: lightblue;
    z-index: 10;
    top: 0;
    position: fixed;
    left: -100%;
    transition: left 0.7s;
    grid-area: nav;
}

.activate{
    left: 0;
}

.activate_vara{
    left: 0;
}

ul{
    margin: 15px;
    font-size: 27px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: white;
}

.vara{
    background-color: lightgreen;
    height: 30px;
    width: 180px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
   
}

.antal{
    background-color: green;
    height: 30px;
    width: 200px;
    margin: auto;
    margin-top: 10px;
    z-index: 1;
    left: -1000px;
    position: relative;
}

.varukorg{
    background-color: aquamarine;
    width: 300px;
    height: 500px;
}

.fakta{
    background-color: lightgray;
    width: 300px;
    height: 700px;
}

.kundvangn{
    position: absolute;
    right: 100px;
    
}

h4{
    text-align: center;
}

.logo{
    width: 380px;
    text-align: center;

}

.show{
    left: 0;
}

#apple1{
    background-image: url(../../psd/äpple1_240x200_mobil.jpg)
}

#apple2{
    background-image: url(../../psd/apple2_240x200_mobil.jpg)
}

#apple3{
    background-image: url(../../psd/apple3.2_240_200_mobil.jpg)
}

#apple4{
    background-image: url(../../psd/apple4_240x200_mobil.jpg)
}

#apple5{
    background-image: url(../../psd/apple5_240x200_mobil.jpg)
}

#apple6{
    background-image: url(../../psd/apple6_240x200_mobil.jpg)
}



@media only screen and (min-device-width: 1024px){

    #ta_bort{
        visibility: hidden;

    }

    .header_bild{
        background-image: none;
        background-image: url(../../psd/appleheader_1263x300_webb.jpg);
    }

  
    .kundvangn{
        margin-left: 100px;
    }

    .logo{
        font-size: 30px;
        margin: auto;
    }

    .text{
        margin: 30px;
        height: 200px;

        
    }

    .main{
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 250px 200px 500px;
        grid-template-rows: 200px 30px 200px 30px 200px 30px 200px 30px 200px 30px 200px;
        grid-template-areas: 
        "apple1 . text1"
        ". . ."
        "apple2 . text2"
        ". . ."
        "apple3 . text3"
        ". . ."
        "apple4 . text4"
        ". . ."
        "apple5 . text5"
        ". . ."
        "apple6 . text6"
    }


    #apple1{
        grid-area: apple1;
    }

    #apple2{
        grid-area: apple2;
    }

    #apple3{
        grid-area: apple3;
    }

    #apple4{
        grid-area: apple4;
    }

    #apple5{
        grid-area: apple5;
    }

    #apple6{
        grid-area: apple6;
    }

    

    #text1{
        grid-area: text1;
    }

    #text2{
        grid-area: text2;
    }

    #text3{
        grid-area: text3;
    }

    #text4{
        grid-area: text4;
    }

    #text5{
        grid-area: text5;
    }

    #text6{
        grid-area: text6;
    }



    .apple{
        background-repeat: repeat-y;
        width: 240px;
        
    }


    .nav{
        left: 0;
        height: 70px;
        width: 1700px;
        top: 100px;
        justify-content: center;
        display: flex;

    }

    ul{
        margin: 0;
        padding: 0;
        overflow: hidden;
        list-style: none;
    }

    li{
        float: left;
    }

    li a{
        display: block;
        padding: 16px;
    }

    .fakta{
        width: 500px;
    }

    .bilder{
        background-color: coral;
        width: 1000px;
        height: 1400px;
        margin-top: 100px;
        grid-gap: 30px;
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px 200px 200px;
        grid-template-areas: 
        "bild1 bild2"
        


    }

    .bild{
        background-color: aquamarine;
        width: 100px;
        height: 100px;
    }

    #bild1{
        grid-area: bild1;
    }

    #bild2{
        grid-area: bild2;
    }

}