body{
    height: 100vh;
    margin: 0;
}

header{
    background-color: red;
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    grid-area: header;
    


}

.header_bild{
    background-image: url(../../psd/header.375x300.mobil.jpg);
    width: 100%;
    height: 300px;
    grid-area: header_bild;
}

.main{
    width: 80%;
    margin: auto;
}

.apple{
    background-color: red;
    width: 80%;
    height: 200px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    
}

.text{
    background-color: rgba(255, 0, 0, 0.541);
    width: 90%;
    height: 300px;
    margin: auto;
    border-radius: 10px;
    
}

.footer{
    width: 100%;
    height: 200px;
    background-color: green;
    margin-top: 100px;

}

i.material-icons{
    size: 50px;
    font-size: 50px;
   
}

p{
    margin: 20px;
    
}

h2{
    text-align: center;
}

.nav{
    width: 200px;
    height: 300px;
    background-color: rgb(87, 240, 87);
    z-index: 10;
    top: 0;
    position: fixed;
    left: -100%;
    transition: left 0.7s;
    grid-area: nav;
}

.activate{
    left: 0;
}

.activate_vara{
    left: 0;
}

ul{
    margin: 15px;
    font-size: 27px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: white;
}

.vara{
    background-color: lightgreen;
    height: 30px;
    width: 180px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
   
}

.antal{
    background-color: white;
    height: 30px;
    width: 200px;
    margin: auto;
    margin-top: 10px;
    z-index: 1;
    left: -1000px;
    position: relative;
}

.varukorg{
    /* background-color: rgb(199, 199, 199); */
    width: 300px;
    height: 500px;
}

.fakta{
    background-color: lightgray;
    width: 300px;
    height: 1500px;
    margin-top: 30px;
    
    
}

.kundvangn{
    position: absolute;
    right: 100px;
    
}

h4{
    text-align: center;
}

.logo{
    width: 380px;
    text-align: center;

}

.show{
    left: 0;
}

#apple1{
    background-image: url(../../psd/äpple1_240x200_mobil.jpg)
}

#apple2{
    background-image: url(../../psd/apple2_240x200_mobil.jpg)
}

#apple3{
    background-image: url(../../psd/apple3.2_240_200_mobil.jpg)
}

#apple4{
    background-image: url(../../psd/apple4_240x200_mobil.jpg)
}

#apple5{
    background-image: url(../../psd/apple5_240x200_mobil.jpg)
}

#apple6{
    background-image: url(../../psd/apple6_240x200_mobil.jpg)
}

.din_varukorg{
    background-color: gray;
    border-radius: 30px;
    width: 300px;
    height: 70px;
    margin: auto;
    margin-top: 20px;
    display: flex;
}

.varukorg_vara{
    background-color: rgb(143, 132, 132);
    width: 250px;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 110px auto 70px;
    grid-template-rows: auto;
    grid-template-areas: 
    "vara_namn . vara_pris"
    

}

.summa{
    background-color: green;
    border-radius: 25px;
    width: 250px;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto  70px;
    grid-template-rows: auto;
    grid-template-areas: 
    "betalning  summa_pris"
}

.betalning{
    grid-area: betalning;
    background-color: green;
    border-radius: 25px;

}

.summa_pris{
    grid-area: summa_pris;
    background-color: green;
    border-radius: 25px;

}

.vara_namn{
    grid-area: vara_namn;
    /* background-color: rgb(202, 202, 202); */
}

.vara_pris{
    grid-area: vara_pris;
    background-color: rgb(189, 189, 189);
}




h3{
    text-align: center;
}



.bild{
    background-color: blueviolet;
    width: 300px;
    height: 450px;
    margin-top: 20px;
}

.apple_text{
    background-color: rgba(0, 0, 0, 0.705);
    width: 300px;
    height: 50px;
    position: relative;
    top: 400px;
    
}

#bild1_apple{
    background-image: url(../../psd/apple_bild300x450.jpg)
}

#bild2_apple{
    background-image: url(../../psd/apple_bild1_300x450.jpg)
}

#bild3_apple{
    background-image: url(../../psd/apple_bild2_300x450.jpg)
}

#bild4_apple{
    background-image: url(../../psd/apple_bild3_300x450.jpg)
}

h5{
    font-size: 20px;
    text-align: center;
}

u{
    color: white;
    text-decoration: none;
}

h6{
    font-size: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 200px;
    height: 30px;
    margin-top: 7px;
    margin-left: 40px;
}

h1{
    font-size: 17px;
    text-align: center;
}


@media only screen and (min-device-width: 1024px){

    h6{
        width: 500px;
        margin: auto;
    }

    #ta_bort{
        visibility: hidden;

    }

    .header_bild{
        background-image: none;
        background-image: url(../../psd/header.1364x400.webb.jpg);
        padding-top: 100px;
    }

  
    .kundvangn{
        margin-left: 100px;
    }

    .logo{
        font-size: 30px;
        margin: auto;
    }

    .text{
        margin: 30px;
        height: 200px;

        
    }

    .main{
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 250px 200px 500px;
        grid-template-rows: 250px 70px 250px 70px 250px 70px 250px 70px 250px 70px 250px;
        grid-template-areas: 
        "apple1 . text1"
        ". . ."
        "apple2 . text2"
        ". . ."
        "apple3 . text3"
        ". . ."
        "apple4 . text4"
        ". . ."
        "apple5 . text5"
        ". . ."
        "apple6 . text6"
    }


    #apple1{
        grid-area: apple1;
    }

    #apple2{
        grid-area: apple2;
    }

    #apple3{
        grid-area: apple3;
    }

    #apple4{
        grid-area: apple4;
    }

    #apple5{
        grid-area: apple5;
    }

    #apple6{
        grid-area: apple6;
    }

    

    #text1{
        grid-area: text1;
    }

    #text2{
        grid-area: text2;
    }

    #text3{
        grid-area: text3;
    }

    #text4{
        grid-area: text4;
    }

    #text5{
        grid-area: text5;
    }

    #text6{
        grid-area: text6;
    }

    .text{
        height: 300px;
    }



    .apple{
        background-repeat: repeat-y;
        width: 240px;
        
    }

    .fakta{
        background-color: lightgray;
        width: 400px;
        height: 1000px;
        
        
    }


    .nav{
        left: 0;
        height: 70px;
        width: 1700px;
        top: 100px;
        justify-content: center;
        display: flex;

    }

    ul{
        margin: 0;
        padding: 0;
        overflow: hidden;
        list-style: none;
    }

    li{
        float: left;
    }

    li a{
        display: block;
        padding: 16px;
    }

    .fakta{
        width: 500px;
    }

    .bilder{
        width: 1000px;
        height: 1400px;
        grid-row-gap: 100px;
        grid-column-gap: 400px;
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-rows: 450px 450px;
        grid-template-areas: 
        "bild1 bild2"
        "bild3 bild4"
        
    }

    

    .bild{
        width: 300px;
        height: 450px;
        background-color: lightblue;
        
        
        
    }

    #bild1_apple{
        grid-area: bild1;
    }

    #bild2_apple{
        grid-area: bild2;
    }

    #bild3_apple{
        grid-area: bild3;
    }

    #bild_apple{
        grid-area: bild4;
    }

    .din_varukorg{
        width: 770px;
        height: 130px;
    }

    .varukorg{
        width: 1000px;
        height: 700px;
        
    }

    h6{
        font-size: 40px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
    }



}